<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testsuite_model -->
      <package
            uri="org.casa.dsl_testing.TestsuiteModel"
            class="org.casa.dsltesting.TestsuiteModel.TestsuiteModelPackage"
            genModel="model/testsuite_model.genmodel"/>
   </extension>

</plugin>
